@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Chisinau, Republic of Moldova<br />
    9/11 Studentilor Str.<br />
</address>

<address>
    <strong>Support:</strong> Piotr Namasco.
</address>
