@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="padding-top:20px">
	<div class="row">
		<div class="col-md-4">
        	<div class="panel panel-default">
        		<div class="panel-heading"><h3>Apples</h3></div>
            	<div class="panel-body">Price: 10 lei / kg</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
              	<div class="panel-heading"><h3>Potatoes</h3></div>
              	<div class="panel-body">Price: 7 lei / kg</div>
            </div>
        </div>
		<div class="col-md-4">
            <div class="panel panel-default">
              	<div class="panel-heading"><h3>Oranges</h3></div>
              	<div class="panel-body">Price: 30 lei / kg</div>
            </div>
        </div>  
    </div>
</div>